body {
	background: #ffe url('img/fade-yotsuba.png') repeat-x 50% 0%;
	color: #800000;
}
h1 {
  color:#800000
}
a:link, a, a[data-href], a:visited, .intro a.email span.name {
	color: #0000ff;
}
a:hover {
	color: #d00;
}
a.post_no {
	color: #800000;
}
div.post.reply {
	background: #f0e0d6;
	border-color: #d9bfb7;
}
div.post.reply.highlighted {
	background: #f0c0b0;
	border-color: #d9bfb7;
}
div.post.reply div.body a {
	color: navy;
}
.intro span.subject {
	color: #d00;
}
form table tr th {
	background: #EA8;
}
div.ban h2 {
	background: #FCA;
	color: inherit;
}
div.ban {
	border-color: #800;
}
div.ban p {
	color: black;
}
div.pages {
	background: #F0E0D6;
	border-color: #D9BFB7;
}
div.pages a.selected {
	color: #800;
}
hr {
	border-color: #D9BFB7;
}
div.boardlist {
	color: #B86;
}
div.boardlist a {
	color: #800;
}
table.modlog tr th {
	background: #EA8;
}

/* options.js */
#options_div, #alert_div {
	background: #f0e0d6;
}

.desktop-style div.boardlist:not(.bottom) {
	background-color: #F0E0D6;
}

/* Predefined reasons */
.ReasonTableForm tr:first-child td {
  background: #EEAA88;
}
.ReasonTableForm tr:hover td {
  background: #F0C0B0;
}


/* Archive hover */
table.archive-list tr:hover td {
   background-color: #FFEED4;
}
