{% if file.file != 'deleted' and mod %}
    <span class="controls">
        <br/>
        {% if not post.shadow %}
            {% if mod|hasPermission(config.mod.deletefile, board.uri) %}
                {% set link_deletefile_title %}{% trans %}Delete file{% endtrans %}{% endset %}
                {% set link_deletefile_confirm %}{% trans %}Are you sure you want to delete this file?{% endtrans %}{% endset %}
                {{ secure_link_confirm(config.mod.link_deletefile, link_deletefile_title, link_deletefile_confirm, board.dir ~ 'deletefile/' ~ post.id ~ '/' ~ index, 'deletefile') }}&nbsp;
            {% endif %}

            {% if file.thumb != 'spoiler' and mod|hasPermission(config.mod.spoilerimage, board.uri) %}
                {% set link_spoilerimage_title %}{% trans %}Spoiler file{% endtrans %}{% endset %}
                {% set link_spoilerimage_confirm %}{% trans %}Are you sure you want to spoiler this file?{% endtrans %}{% endset %}
                {{ secure_link_confirm(config.mod.link_spoilerimage, link_spoilerimage_title, link_spoilerimage_confirm, board.dir ~ 'spoiler/' ~ post.id ~ '/' ~ index, 'spoilerfile') }}&nbsp;
            {% elseif file.thumb == 'spoiler' and mod|hasPermission(config.mod.spoilerimage, board.uri) %}
                {% set link_unspoilerimage_title %}{% trans %}Remove spoiler{% endtrans %}{% endset %}
                {% set link_unspoilerimage_confirm %}{% trans %}Are you sure you want to remove spoiler on this file?{% endtrans %}{% endset %}
                {{ secure_link_confirm(config.mod.link_unspoilerimage, link_unspoilerimage_title, link_unspoilerimage_confirm, board.dir ~ 'unspoiler/' ~ post.id ~ '/' ~ index, 'unspoilerfile') }}&nbsp;
            {% endif %}
        {% endif %}

        {% if mod|hasPermission(config.mod.bandeletehash, board.uri) %}
            {% if post.shadow %}&nbsp;&nbsp;{% endif %}
            <a href="?/{{ board.dir ~ 'hash/' ~ post.id ~ '/' ~ index }}" data-action="hashbanfile" title="{% trans %}Are you sure you want to hashban this file?{% endtrans %}">{{ config.mod.link_hash }}</a>&nbsp;
        {% endif %}
    </span>
{% endif %}
