<table style="margin-bottom:10px">
	<tr>
		<th>{% trans 'Status' %}</th>
		<td>
			{% if config.mod.view_banexpired and ban.expires != 0 and ban.expires < time() %}
				{% trans 'Expired' %}
			{% else %}
				{% trans 'Active' %}
			{% endif %}
		</td>
	</tr>
	<tr>
		<th>{% trans 'IP' %}</th>
		<td>{{ ban.mask }}</td>
	</tr>
	<tr>
		<th>Cookie</th>
		<td>
			{% if ban.cookiebanned %}
				<s style="background-color: #F33">{{ ban.cookie }}</s>
			{% else %}
				{{ ban.cookie }}
			{% endif %}
		</td>
	</tr>
	<tr>
		<th>{% trans 'Reason' %}</th>
		<td>
			{% if ban.reason %}
				{{ ban.reason }}
			{% else %}
				<em>{% trans 'no reason' %}</em>
			{% endif %}
		</td>
	</tr>
	<tr>
		<th>{% trans 'Board' %}</th>
		<td>
			{% if ban.board %}
				{{ config.board_abbreviation|format(ban.board) }}
			{% else %}
				<em>{% trans 'all boards' %}</em>
			{% endif %}
		</td>
	</tr>
	<tr>
		<th>{% trans 'Set' %}</th>
		<td>{{ ban.created|strftime }}</td>
	</tr>
	<tr>
		<th>{% trans 'Expires' %}</th>
		<td>
			{% if ban.expires %}
				{{ ban.expires|strftime }}
			{% else %}
				<em>{% trans 'never' %}</em>
			{% endif %}
		</td>
	</tr>
	<tr>
		<th>{% trans 'Seen' %}</th>
		<td>
			{%  if ban.seen %}
				{% trans 'Yes' %}
			{%  else %}
				{% trans 'No' %}
			{%  endif %}
		</td>
	</tr>
	<tr>
		<th>{% trans 'Staff' %}</th>
		<td>
			{% if ban.username %}
				<a href="?/new_PM/{{ ban.username|e }}">{{ ban.username|e }}</a>
			{% else %}
				<em>{% trans 'deleted?' %}</em>
			{% endif %}
		</td>
	</tr>
	<tr>
		<th>{% trans 'Appealable' %}</th>
		<td>
			{% if ban.appealable %}
				{% trans 'Yes' %}
			{% else %}
				{% trans 'No' %}
			{% endif %}
		</td>
	</tr>
</table>
