<span id="active-page" data-page="mod"></span>
<script src="js/id_colors.js?v={{ config.resource_version }}"></script>

{% if mod|hasPermission(config.mod.view_notes) and notes is not null %}
	<fieldset id="notes">
		{% set notes_length = notes|length %}
		<legend>{{ notes_length }} {% trans %}note on record{% endtrans %}{% if notes_length > 1 %}{% trans %}notes on record{% endtrans %}{% endif %}</legend>

		{% if notes and notes|length > 0 %}
			<table class="modlog">
				<tr>
					<th>{% trans %}Staff{% endtrans %}</th>
					<th>{% trans %}Note{% endtrans %}</th>
					<th>{% trans %}Date{% endtrans %}</th>
					{% if mod|hasPermission(config.mod.remove_notes) %}
						<th>{% trans %}Actions{% endtrans %}</th>
					{% endif %}
				</tr>
				{% for note in notes %}
					<tr>
						<td class="minimal">
							{% if note.username %}
								<a href="?/new_PM/{{ note.username|e }}">{{ note.username|e }}</a>
							{% else %}
								<em>{% trans %}deleted?{% endtrans %}</em>
							{% endif %}
						</td>
						<td>{{ note.body }}</td>
						<td class="minimal">{{ note.time|strftime }}</td>
						{% if mod|hasPermission(config.mod.remove_notes) %}
							<td class="minimal">
								<a href="?/IP/{{ ip|url_encode(true) }}/remove_note/{{ note.id }}">
									<small>[{% trans %}remove{% endtrans %}]</small>
								</a>
							</td>
						{% endif %}
					</tr>
				{% endfor %}
			</table>
		{% endif %}

		{% if mod|hasPermission(config.mod.create_notes) %}
			<form action="?/IP/{{ ip|url_encode(true) }}" method="post" style="margin:0">
				<input type="hidden" name="token" value="{{ security_token }}">
				<table>
					<tr>
						<th>{% trans %}Staff{% endtrans %}</th>
						<td>{{ mod.username|e }}</td>
					</tr>
					<tr>
						<th><label for="note">{% trans %}Note{% endtrans %}</label></th>
						<td><textarea id="note" name="note" rows="5" cols="30"></textarea></td>
					</tr>
					<tr>
						<td></td>
						<td><input type="submit" value="{% trans %}New note{% endtrans %}"></td>
					</tr>
				</table>
			</form>
		{% endif %}
	</fieldset>
{% endif %}

{{ include('mod/user_posts_list.html', {posts: posts}) }}
<div class="pages" style="display:flex;justify-content:center;align-items:center;width:fit-content;margin:5px auto;">
	<a href="?/user_posts/ip/{{ ip }}">[Page 1]</a>
	{% if cursor_prev %}
		<a href="?/user_posts/ip/{{ ip }}/cursor/{{ cursor_prev }}">[Previous Page]</a>
	{% endif %}
	{% if cursor_next %}
		<a href="?/user_posts/ip/{{ ip }}/cursor/{{ cursor_next }}">[Next Page]</a>
	{% endif %}
</div>

{% if mod|hasPermission(config.mod.forcedflag) and not password %}
	<fieldset id="forcedflag">
		<legend>{% trans %}Set custom user flag{% endtrans %}</legend>

		{% if is_forcedflag %}
			<form action="?/IP/{{ ip|url_encode(true) }}" method="post" style="text-align:center; margin:0">
				<b>{% trans %}Fucking{% endtrans %} {{ is_forcedflag }}</b><br/>
				<input type="hidden" name="token" value="{{ security_token }}">
				<input type="submit" name="remove_forcedflag" value="{% trans %}Remove{% endtrans %} {{ is_forcedflag }} {% trans %}Flag{% endtrans %}">
			</form>
		{% else %}
			<form action="?/IP/{{ ip|url_encode(true) }}" method="post"  style="text-align:center; margin:0">
				<input type="hidden" name="token" value="{{ security_token }}">
				{% trans %}Make IP fucking{% endtrans %} 
				<select name="country" id="country">
					<option selected="selected">{% trans %}Choose one{% endtrans %}</option>
					{% for country in countries %}
						<option value="{{ country.id|e }}">{{ country.name|e }}</option>
					{% endfor %}
				</select>
				<input type="submit" name="set_forcedflag" value="{% trans %}Make it so{% endtrans %}">
			</form>
		{% endif %}
	</fieldset>
{% endif %}

{% if bans|length > 0 and mod|hasPermission(config.mod.view_ban) and not password %}
	<fieldset id="bans">
		{% set bans_length = bans|length %}
		<legend>{{ bans_length }} {% trans %}ban on record{% endtrans %}{% if bans_length > 1 %}{% trans %}bans on record{% endtrans %}{% endif %}</legend>

		{% for ban in bans %}
			<form action="?/IP/{{ ip|url_encode(true) }}" method="post" style="text-align:center">
				<input type="hidden" name="token" value="{{ security_token }}">
				{% include 'mod/partials/ban_history.html' %}
				<input type="hidden" name="ban_id" value="{{ ban.id }}">
				<input type="hidden" name="appeal" value="{{ ban.appealable }}">
				<input type="submit" name="ban_cookie" value="{% trans %}Ban Cookie{% endtrans %}">
				<input type="submit" name="change_appeal" value="{% trans %}Change appeal status{% endtrans %}">
				<input type="submit" name="unban" value="{% trans %}Remove ban{% endtrans %}">
				<input type="submit" name="edit_ban" value="{% trans %}Edit Ban{% endtrans %}">
			</form>
		{% endfor %}
	</fieldset>
{% endif %}

{% if mod|hasPermission(config.mod.ban) %}
	<fieldset>
		<legend>{% trans %}New ban{% endtrans %}</legend>
		{% set redirect = '?/IP/' ~ ip ~ '#bans' %}
		{% include 'mod/ban_form.html' %}
	</fieldset>
{% endif %}

{% if logs|length > 0 %}
	<fieldset id="history">
		<legend>{% trans %}History{% endtrans %}</legend>
		<table class="modlog" style="width:100%">
			<tr>
				<th>{% trans %}Staff{% endtrans %}</th>
				<th>{% trans %}Time{% endtrans %}</th>
				<th>{% trans %}Board{% endtrans %}</th>
				<th>{% trans %}Action{% endtrans %}</th>
			</tr>
			{% for log in logs %}
				{% include 'mod/partials/log.html' %}
			{% endfor %}
		</table>
	</fieldset>
{% endif %}
